[font-size= "last"] {
    --font-sss: 12px; 
    --font-ssm: 14px;
    --font-ssl: 16px;
    --font-sll: 18px;
    --font-sxl: 20px;
    --font-mss: 24px;
    --font-msm: 28px;
    --font-mml: 32px;
    --font-mll: 36px;
    --font-mxl: 40px;
    --font-lss: 44px;
    --font-lsm: 48px;
    --font-lll: 52px;
    --font-lxl: 56px;
}


