<link
  rel="stylesheet"
  href="app/view/map-bus/bottom-sheet/bus-line/bus-line.css"
/>
<div  >
  <md-bottom-sheet
    ng-if="step === 1"
    class="bus-line-sheet"
    id="buslineSheet"
    ng-class="{ expanded: isExpanded }"
    ng-style="{ height: sheetHeightVH + 'vh', overflowY: isExpanded ? 'auto' : 'hidden' }"
    
  >
    <div
      class="drag-handle-two"
      ng-mousedown="buslineStartDrag($event)"
      ontouchstart="buslineStartDrag(event)"
    ></div>
    <div class="font-SXL m-l-12 m-t-10">รถที่ผ่าน</div>

   <md-list-item ng-repeat="route in busStations" >
  <div class="bus-flex" ng-click="goToStep(2, route.boxId)">
    <div class="bus-box-container">
      <div class="bus-station-box" ng-class="getBusVerticalClass(route.groupBusLineId)">
        <div class="font-SXL">{{ route.vehicleName }}</div>
        <div class="font-SS text-break" style="margin-top: 2px">{{ route.groupBusLineName }}</div>
      </div>
    </div>

    <div class="bus-arrow-destination">
      <div class="bus-destination-info">
        <div class="">
          <div class="box-bus">
            <img src="app/assets/icon/bus-simple.svg" alt="bus-simple" width="14px" height="14px">
            {{route.plateNo}}
          </div>

          <div class="m-t-10">
            <img src="app/assets/icon/reply_all_right.svg" alt="" width="20px" height="20px">
            {{ route.currentStationName || 'ไม่ระบุ' }}
          </div>
        </div>
      </div>
    </div>

    <div class="arrival_time">{{ route.estimateTime | date:'HH:mm' }}</div>
  </div>
</md-list-item>

  </md-bottom-sheet>


    <md-bottom-sheet
    ng-if="step === 2"
    class="bus-line-sheet"
    id="buslineSheet"
    ng-class="{ expanded: isExpanded }"
    ng-style="{ height: sheetHeightVH + 'vh', overflowY: isExpanded ? 'auto' : 'hidden' }"

  >
    <div
      class="drag-handle-two"
      ng-mousedown="buslineStartDrag($event)"
      ontouchstart="buslineStartDrag(event)"
    ></div>
    <div class="font-SL m-l-12 m-t-10"></div>

    <button class="close-btn-tab" ng-click="goBackToStep1()" aria-label="ปิด">
      &times;
    </button>

   <md-list-item ng-repeat="route in selectedBus | orderBy:'arrival_time'">

      <div class="bus-station-box" ng-class="getBusVerticalClass(route.groupBusLineId)">
        <div class="font-SXL">{{ route.vehicleName }}</div>
        <div class="font-SS text-break" style="margin-top: 2px">{{ route.groupBusLineName }}</div>
      </div>

  </md-list-item>

  </md-bottom-sheet>


</div>
