<div>
  <link
    rel="stylesheet"
    href="app/view/map-bus/bottom-sheet/bus-travel/bus-travel.css"
  />

  <md-bottom-sheet
    class="custom-bottom-sheet"
    id="bottomSheet"
    ng-if="currentStep === 1"
    ng-class="{ expanded: isExpanded }"
    ng-style="{ overflowY: isExpanded ? 'auto' : 'hidden' }"
  >
    <div
      class="drag-handle" 
     ng-mousedown="startDrag($event)"
     ontouchstart="startDrag(event)"
    ></div>
    <div class="font-SL m-l-12 m-t-10">เส้นทางทั้งหมด</div>

    <md-list-item
      ng-repeat="station in transportation_lines"
      ng-click="goToStep(2, station)"
    >
      <div class="station-flex">
        <div class="station-box-container">
          <div
            class="station-box"
            ng-class="getBorderClass(station.transportation)"
          >
            {{ station.transportation }}
          </div>
          <img class="arrow-right" src="app/assets/icon/arrow-right.svg" />
        </div>

        <div class="station-arrow-destination">
          <div class="destination-info">
            <div class="font-gray">ปลายทาง</div>
            <div class="font-SL">{{ station.station_name }}</div>
          </div>
        </div>
      </div>
    </md-list-item>
  </md-bottom-sheet>

  <md-bottom-sheet
    class="custom-bottom-sheet"
    id="bottomSheet"
    ng-if="currentStep === 2 && selectedStation"
    ng-class="{ expanded: isExpanded }"
    ng-style="{ overflowY: isExpanded ? 'auto' : 'hidden' }"
  >
    <div
      class="drag-handle"
      ng-mousedown="startDrag($event)"
      ontouchstart="startDrag(event)"
    ></div>

    <button class="close-btn-tab" ng-click="goBackToStep1()" aria-label="ปิด">
      &times;
    </button>

    <div class="vertical-connector-container" style="position: relative">
      <div class="mt-20">
        <div
          class="station-box station-display"
          ng-class="getBorderClass(selectedStation.transportation)"
        >
          <img
            ng-if="selectedStation.transportation === 'EXPRESS'"
            src="app/assets/icon/bus-simple.svg"
            class="bus-img"
            alt="bus"
          />
          {{ selectedStation.transportation }}
        </div>

        <div
          ng-repeat="stop in selectedStation.stops"
          class="station-stop mt-20"
          style="position: relative"
        >
          <div
            class="number-circle"
            ng-class="getBorderStation(selectedStation.transportation)"
            style="z-index: 2; position: relative"
          >
            {{ $index + 1 }}

            <div
              ng-if="!$last"
              class="vertical-connector"
              ng-class="{
          'vertical-connector-pink': selectedStation.transportation === 'EXPRESS',
          'vertical-connector-orange': selectedStation.transportation === 'B LINE',
          'vertical-connector-green': selectedStation.transportation === 'F LINE'
        }"
            ></div>
          </div>

          <div class="mt-1">{{ stop.name }}</div>
        </div>
      </div>
    </div>
  </md-bottom-sheet>
</div>