<div>
  <link
    rel="stylesheet"
    href="app/view/map-bus/bottom-sheet/bus-travel/bus-travel.css"
  />



  <md-bottom-sheet
    class="custom-bottom-sheet"
    id="bottomSheet"
    ng-if="currentStep === 1"
    ng-class="{ expanded: isExpanded }"
    ng-style="{ overflowY: isExpanded ? 'auto' : 'hidden' }"
  >
    <div
      class="drag-handle"
      ng-mousedown="startDrag($event)"
      ontouchstart="startDrag(event)"
    ></div>
    <div class="font-SL m-l-12 m-t-10">เส้นทางทั้งหมด</div>

    <md-list-item
      ng-repeat="route in transportation_routes"
      ng-click="goToStep(2, route)"
    >
      <div class="station-flex">
        <div class="station-box-container">
          <div class="station-box" ng-class="getBorderClass(route.route_name)">
            {{ route.route_name }}
          </div>
          <img class="arrow-right" src="app/assets/icon/arrow-right.svg" />
        </div>

        <div class="station-arrow-destination">
          <div class="destination-info">
            <div class="font-gray">ปลายทาง</div>
            <div class="font-SL">
              {{ getStationName(route.destination_station_id) }}
            </div>
          </div>
        </div>
      </div>
    </md-list-item>
  </md-bottom-sheet>

  <md-bottom-sheet
    class="custom-bottom-sheet"
    id="bottomSheet"
    ng-if="currentStep === 2 "
    ng-class="{ expanded: isExpanded }"
    ng-style="{ overflowY: isExpanded ? 'auto' : 'hidden' }"
  >
    <div
      class="drag-handle"
      ng-mousedown="startDrag($event)"
      ontouchstart="startDrag(event)"
    ></div>

    <button class="close-btn-tab" ng-click="goBackToStep1()" aria-label="ปิด">
      &times;
    </button>

    <div class="vertical-connector-container" style="position: relative">
      <div class="mt-20">
        <div
          class="station-box station-display"
          ng-class="getBorderClass(selectedRoute.route_name)"
        >
          <img
            ng-if="selectedRoute.route_name === 'EXPRESS'"
            src="app/assets/icon/bus-simple.svg"
            class="bus-img"
            alt="bus"
          />
          {{ selectedRoute.route_name }}
        </div>

        <div
          ng-repeat="stop in selectedRoute.stops"
          class="station-stop mt-20"
          style="position: relative"
        >
          <div class="column-left">
            <div
              class="bus-wrapper"
              ng-class="getBusClass(selectedRoute.route_name)"
              ng-if="stop.passing_bus_numbers.length"
            >
              <span
                class="bus-number-in-rect"
                ng-repeat="busNumber in stop.passing_bus_numbers"
                ng-click="goToStep(3, route ,busNumber)"
                
              >
                {{ busNumber }}
              </span>
              <img
                src="app/assets/icon/bus-simple.svg"
                class="bus-img"
                alt="bus"
              />
            </div>
          </div>

          <div class="column-right">
            <div class="station-number-column">
              <div
                class="number-circle"
                ng-class="getBorderStation(selectedRoute.route_name)"
                style="z-index: 2; position: relative"
              >
                {{ $index + 1 }}

                <div
                  ng-if="!$last"
                  class="vertical-connector"
                  ng-class="getVerticalClass(selectedRoute.route_name)"
                ></div>
              </div>
            </div>

            <div class="mt-1 station-name-aligned">
              {{ getStationName(stop.station_id) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-bottom-sheet>

  <md-bottom-sheet
    class="custom-bottom-sheet"
    id="bottomSheet"
    ng-if="currentStep === 3 "
    ng-class="{ expanded: isExpanded }"
    ng-style="{ overflowY: isExpanded ? 'auto' : 'hidden' }"
  >
    <div
      class="drag-handle"
      ng-mousedown="startDrag($event)"
      ontouchstart="startDrag(event)"
    ></div>

    <button class="close-btn-tab" ng-click="goBackToStep2()" aria-label="ปิด">
      &times;
    </button>

    <div class="vertical-connector-container" style="position: relative">
      <div class="mt-20">
        <div class="font-xl mt-2">เส้นทางการเดินรถ</div>

        <div
          ng-repeat="stop in selectedRoute.stops"
          class="station-stop mt-20"
          style="position: relative"
        >
          <div class="column-left">
            <div
              class="bus-wrapper"
              ng-class="getBusClass(selectedRoute.route_name)"
              ng-if="stop.passing_bus_numbers.indexOf(selectedBusNumber) !== -1"
            >
              <span class="bus-number-in-rect"> {{ selectedBusNumber }} </span>
              <img
                src="app/assets/icon/bus-simple.svg"
                class="bus-img"
                alt="bus"
              />
            </div>
          </div>

          <div class="column-right">
            <div class="station-number-column">
              <div
                class="number-circle"
                ng-class="getBorderStep3_Station(selectedRoute, stop)"
                style="z-index: 2; position: relative"
                
              >
                {{ $index + 1 }}

                <div
                  ng-if="!$last"
                  class="vertical-connector"
                  ng-class="getConnectorClass(selectedRoute, $index)"
                ></div>
              </div>
            </div>

            <div class="mt-1 station-name-aligned">
              {{ getStationName(stop.station_id) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-bottom-sheet>
</div>
