<div ng-controller="MapBusController">
  <link rel="stylesheet" href="app/view/map-bus/map-bus.css" />

  <div class="map-wrapper">
    <div id="map"></div>
    <button
      class="search-box"
      ng-show="!isSearching"
      ng-cloak
      ng-click="isSearching = true"
    >
      <img src="app/assets/icon/search.svg" alt="search" class="search-icon" />
    </button>

    <div class="search-input-floating" ng-show="isSearching">
      <img src="app/assets/icon/search.svg" alt="search" class="search-icon" />
      <input
        type="text"
        class="ms-1 search-input"
        placeholder="คุณจะไปที่ไหน"
        ng-model="searchQuery"
        autofocus
      />
      <button class="close-btn" ng-click="isSearching = false">×</button>
    </div>



    <button class="coser_blue" id="gpsButton" ng-click="Current_Position()">
      <img class="coser_blue-icon" src="app/assets/icon/gps-navigation.png" alt="">
    </button>

    <div ng-controller="BusController" class="">
      <div
        ng-include="'app/view/map-bus/bottom-sheet/bus-travel/bus-travel.html'"
      ></div>
    </div>
  </div>
</div>